<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/png" href="./public/images/favicon.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./public/css/app.css">

    <title>Portfolio</title>
</head>

<body>
    <div id="app">
        <x-hero @login="login.activeModal = true">
            <template slot="body">
                <x-level>
                    <x-level-item>
                        <x-avatar src="./public/images/pp.jpg"></x-avatar>
                    </x-level-item>
                </x-level>

                <x-heading :title="this.heading.title" :subtitle="this.heading.subtitle"></x-heading>

                <a href="https://www.linkedin.com/in/aldovelco/" class="is-primary">
                    <x-fa name="linkedin"></x-fa>
                </a>

                <a href="https://github.com/aldovelco" class="is-primary">
                    <x-fa name="github"></x-fa>
                </a>

                <a href="https://twitter.com/aldovelco" class="is-primary">
                    <x-fa name="twitter"></x-fa>
                </a>
            </template>
        </x-hero>

        <transition name="bounce">
            <x-notification v-if="notification.active" :type="notification.type" @dismiss="notification.active = false" :dismissable="notification.dismissable" :timer="3">
                {{notification.message}}
            </x-notification>
        </transition>

        <x-modal v-if="login.activeModal" @close="login.activeModal = false">
            <form @submit.prevent>
                <div class="field">
                    <label class="label">Username</label>
                    <p class="control">
                        <input class="input" type="text" placeholder="Username" ref="userInput" v-model="login.username" required>
                    </p>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <p class="control">
                        <input class="input" type="password" placeholder="Password" ref="passwordInput" v-model="login.password" required>
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                        <button class="button is-primary" @click="tryLogin" :disabled="! (login.username && login.password)">Login</button>
                    </p>
                </div>
            </form>
        </x-modal>

        <section class="section">
            <div class="container">
                <transition>
                    <router-view></router-view>
                </transition>
            </div>
        </section>
    </div>

    <script src="./public/js/app.js"></script>
</body>

</html>